* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: #1e293b38;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: auto;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: rgb(65, 65, 65);
    text-decoration: none;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline; 
}

.todo-form-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 400px;
}

.todo-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.todo-form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.todo-form-container input[type='text'],
.todo-form-container textarea,
.todo-form-container select,
.todo-form-container input[type='date'] {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.todo-form-container input:focus,
.todo-form-container textarea:focus,
.todo-form-container select:focus,
.todo-form-container input[type='date']:focus {
  border-color: #007bff;
  outline: none;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}

.tag {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
}

.tag:hover {
  background-color: #0056b3;
}
