* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: #1e293b38;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: auto;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: rgb(65, 65, 65);
    text-decoration: none;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline; 
}

.todo-form-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 400px;
}

.todo-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}